<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/property_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>
 
    
    {% block content %}
        
    {% endblock  %}
        
<!-- Add these before closing </body> tag -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



{% comment %} AIzaSyC_VvSPPUVLNlLqXnsPNc_1OD4VkHrCcD0 {% endcomment %}